.container{
    display: flex;
    flex-direction: column;
}
img{
    width: 300px;
    height: fit-content;
    margin: 4%;
}
p{
    font-size: 40px;
}
@media (orientation:landscape) {
    .container{
        flex-direction: row;
    }
    p{
        color: blueviolet;
    }
}
@media (orientation:portrait){
    .container{
        flex-direction: column;
    }
    p{
        color:pink;
    } 
}